.navbar{
    width:100%;
    max-width:1200px;
    margin:auto;
    padding:30px 40px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:28px;
    font-weight:600;
    color:#111;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:40px;
}

.nav-links li{
    font-size:16px;
    color:#444;
    cursor:pointer;
    transition:0.3s;
}

.nav-links li:hover{
    color:#000;
}

.menu{
    font-size:28px;
    cursor:pointer;
    display:none;
}

@media(max-width:768px){

.nav-links{
display:none;
}

.menu{
display:block;
}

.navbar{
padding:20px;
}

}